<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Students API</title>
</head>
<body style="text-align: left;">
<div style="display: flex; justify-content: center; align-items: center; flex-direction: column">
<p>This is a demo API made with Spring Boot</p>
<p style="font-size: 18px;">Endpoints:</p>
<ul style="list-style: none; padding: 0;">
    <li style="margin: 10px 0;">GET /api/v1/students</li>
    <li style="margin: 10px 0;">GET /api/v1/students/id</li>
    <li style="margin: 10px 0;">PUT /api/v1/students/id Body: (name, email)</li>
    <li style="margin: 10px 0;">Delete /api/v1/students/id</li>
    <li style="margin: 10px 0;">POST /api/v1/students/id Body: (name, date of birth, email)</li>
</ul>
    <small style="margin-top: 20px;">Author: Adrià Huertas Caparrós</small>
</div>
</body>
</html>
